<form #movieForm="ngForm" (submit)="createComment(movieForm)">
    <input
        [ngModel]
        name="movie_id"
        placeholder="movie_id"
        type="text" 
    >

    <input
        [ngModel]
        name="movie_rating"
        placeholder="movie_rating"

        type="text" 
    >

    <input
        [ngModel]
        name="user_id"
        placeholder="user_id"

        type="text" 
    >
    <button type="submit">Create Pizza</button>
  </form>
  
  <div *ngFor="let film of preferiti" >
    <p class="elenco"> {{ film.movie_id }}</p>
  </div>
  
