<!-- <input type="text" [(ngModel)]="filter" (ngModelChange)="applyFilter($event)">
<div *ngFor="let movie of filteredMovie">
    <movie-list-item [movie]="movie" (titleClick)="onTitleClick($event)"></movie-list-item>
</div> -->
<div class="container">
    <div class="row">
        <h2 class="user">Ciao {{user}}, ecco la lista dei tuoi film preferiti:</h2>
        <div class="col-md-4">
            <div class="input-group rounded" style="width: 330px;">
                <input type="search" class="form-control rounded  " placeholder="Cerca nella lista" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <fa-icon class="iconSearch" [icon]="searchIcon"></fa-icon>
                </span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="movieItem" *ngFor="let movie of movieList">
                <h2 class="title" (click)="onMovieClick(movie.id)">{{movie.title}}</h2>
                <p class="overview"> Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.</p>
                <fa-icon class="iconTrash" [icon]="trashIcon" size="lg" (click)="log()"></fa-icon>
            </div>
        </div>
    </div>
    <div class="container">


    </div>