#search-addon{
    background:none;
}

.iconSearch{
    color: #FFFFFF;
    margin-top: 45px;
}

.form-control.rounded{
    width: 10px;
    margin-top: 50px;
}

.user{
    font-size: 30px;
    font-weight: 700; 
    color: #FFF;
 }