<!-- <input type="text" [(ngModel)]="filter" (ngModelChange)="applyFilter($event)">
<div *ngFor="let movie of filteredMovie">
    <movie-list-item [movie]="movie" (titleClick)="onTitleClick($event)"></movie-list-item>
</div> -->

<div class="container">
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <fa-icon class="iconSearch" [icon]="searchIcon"></fa-icon>
        </span>
      </div>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    <app-movie-list-item></app-movie-list-item>
    
</div>