#search-addon{
    background:none;
}

.iconSearch{
    color: #FFFFFF;
    margin-top: 45px;
}

.form-control.rounded{
    width: 10px;
    margin-top: 50px;
}

.user{
    font-size: 30px;
    font-weight: 700; 
    color: #FFF;
 }

 .movieItem{
    border: 3px solid #e13822;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    left: -163px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.1em;
    min-width: 90px;
    transition: box-shadow 300ms;
}

.movieItem:hover {
    box-shadow: 4px 4px #e13822; 
    background-color: #FFF;
    cursor: pointer;   
    color: #0E0E10;
}


.title{
   font-size: 24px;
   font-weight: 700; 
}

.movieItem .iconTrash{
    color: #e13822;
    position: relative;
    left: 95%;
}

.comment, .ratings{
    font-size: 16px;
    font-weight: 400; 
 }

 .title:hover{
    color: #e13822;
  }