<form class="form-horizontal" #paramsTimeline="ngForm" (submit)="generateTimeline(paramsTimeline)">
    <fieldset>

        <!-- name input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="name"[ngModel] name="name" type="text" placeholder="Nome" class="form-control input-md">
            </div>
        </div>

        <!-- surname input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="Surname" [ngModel] name="surname" type="text" placeholder="Cognome" class="form-control input-md"
                    required="">
            </div>
        </div>

        <!-- genre input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="genre" [ngModel] name="genre" type="text" placeholder="Genere" class="form-control input-md">
            </div>
        </div>

        <!-- runtime input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="runtimeMax" [ngModel] name="runtimeMax" type="text" placeholder="Durata massima (min)"
                    class="form-control input-md">
            </div>
        </div>

        <!-- budget input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="budgetMax" [ngModel] name="budgetMax" type="text" placeholder="Budget massimo"
                    class="form-control input-md">
            </div>
        </div>

        <!-- year input-->
        <div class="form-group">
            <div class="col-md-4">
                <input id="yearMax" [ngModel] name="yearMax" type="text" placeholder="Fino all'anno?"
                    class="form-control input-md">
            </div>
        </div>

    </fieldset>
    <button type="submit" id="primary-button">Genera Timeline!</button>
</form>