<form class="form-horizontal" id="paramsForm" #paramsTimeline="ngForm" (submit)="generateTimeline(paramsTimeline)">
    <div id="contentForm">

        <h2 class="title">Inserisci i parametri per generare la tua timeline!</h2>
        <!-- name input-->
        <div class="field">
                <input id="name"[ngModel] name="name" type="text" placeholder="Nome" class="form-control input-md" required>
        </div>

        <!-- surname input-->
        <div class="field">
            <input id="Surname" [ngModel] name="surname" type="text" placeholder="Cognome" class="form-control input-md" required>
        </div>

        <!-- genre input-->
        <div class="field">
                <input id="genre" [ngModel] name="genre" type="text" placeholder="Genere" class="form-control input-md">
        </div>

        <!-- runtime input-->
        <div class="field">
                <input id="runtimeMax" [ngModel] name="runtimeMax" type="text" placeholder="Durata massima (min)"
                    class="form-control input-md">
        </div>

        <!-- budget input-->
        <div class="field">
                <input id="budgetMax" [ngModel] name="budgetMax" type="text" placeholder="Budget massimo"
                    class="form-control input-md">
        </div>

        <!-- year input-->
        <div class="field">
                <input id="yearMax" [ngModel] name="yearMax" type="text" placeholder="Fino all'anno?"
                    class="form-control input-md">
        </div>

    </div>
    <button type="submit" id="primary-button" [disabled]="!paramsTimeline.form.valid">Genera Timeline!</button>
</form>

