.container{
    width: 1920px;
    margin: 250px;
}

.title{
    font-weight: 900;
    color: #FFFFFF;
    font-size: 10rem;
    line-height: 9rem;
}

.desc{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.4em;
}


// @media only screen and (max-width: 760px){
//     .title{
//         font-size: 30px;
//     }
// }