.container{
    height: 650px;
    margin: 150px 200px;
}

.title{
    font-weight: 900;
    color: #FFFFFF;
    font-size: clamp(3rem, -0.2500rem + 14.6667vw, 8.5rem);
    float: left;
    line-height: clamp(3rem, -0.2500rem + 14.6667vw, 8.5rem);;
}

.desc{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.4em;
}

// @media only screen and (max-width: 760px){
//     .title{
//         font-size: 30px;
//     }
// }