<div class="container">
    <div class="row" width="700px">
        <div class="col-md-10">
            <h1 class="title">TIME A MOVIE</h1>
        </div>
        <div class="col-md4">
            <p class="desc"> Scegli il tuo attore preferito e visualizza le timeline della sua carriera
                cinematrografica! </p>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
        </div>
    </div>
</div>