<div class="container">
    <div class="row" width="700px">
        <div class="col-md10">
            <h1 class="title">TIME A MOVIE</h1>
        </div>
        <div class="col-md4">
            <p class="desc"> Scegli il tuo attore preferito e visualizza le timeline della sua carriera
                cinematrografica! </p>
            <button id="primary-button"type="button" >Timeline!</button>
            <span style="padding: 10px"></span>
            <button id="secondary-button" type="button">Accedi</button>
        </div>
    </div>
</div>