<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home">TIME A MOVIE</a>
  <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isShown"
    [attr.aria-expanded]="isShown" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end " [ngClass]="{ 'show': isShown }"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" (click)="isShown = true" routerLink="/list">I TUOI FILM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isShown = true" routerLink="/timeline">RANDOM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isShown = true" routerLink="/">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>

