<!-- Prompt di errori riguardanti le credenziali -->
<div  id="errors">
  <p *ngIf="usernameOrPasswordWrong === true" on> Username e Password errati!</p>
</div>  
  
<form class="form-horizontal" id="userForm" #user="ngForm" (submit)="login(user)">
  <div id="contentForm">

    <div div class="form-floating mb-3">      
      <!-- username input -->
      <input id="username" (click)="resetStates()" [ngModel] name="username" type="username"
        class="form-control form-control-lg" placeholder="name@example.com" required>
      <label class="label" for="floatingInput">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-3">
      <input (click)="resetStates()" [ngModel] name="password" type="password" class="form-control form-control-lg"
        id="floatingInput" placeholder="name@example.com" required>
      <label class="label" for="floatingInput">Password</label>
    </div>

  </div>
  <button type="submit" id="primary-button" [disabled]="!user.form.valid">Accedi</button>
</form>

