
<form class="form-horizontal" id="userForm" #user="ngForm" (submit)="login(user)">
  <div id="contentForm">

    <div div class="form-floating mb-3">

      <!-- Prompt di errori riguardanti le credenziali 
        <p *ngIf="usernameOrPasswordWrong === true"  style=" color: darkred; font-size: x-large" on> Username e Password errati!</p>
        <p *ngIf="usernameNull === true" style=" color: darkred; font-size: x-large"> Username è un campo obbligatorio!</p>
        <p *ngIf="passwordNull === true" style=" color: darkred; font-size: x-large"> Password è un campo obbligatorio!</p>-->
      <!-- (click)="resetStates()" resetta le variabili dei messaggi di errore a false -->

      <!-- username input -->
      <input id="username" (click)="resetStates()" [ngModel] name="username" type="username"
        class="form-control form-control-lg" placeholder="name@example.com" required>
      <label class="label" for="floatingInput">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-3">
      <input (click)="resetStates()" [ngModel] name="password" type="password" class="form-control form-control-lg"
        id="floatingInput" placeholder="name@example.com" required>
      <label class="label" for="floatingInput">Password</label>
    </div>

  </div>
  <button type="submit" id="primary-button" [disabled]="!user.form.valid">Accedi</button>
</form>