<div class="container">

  <div class="row ">

    <div class="col-md-6">
      <div class="poster_container">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" width="70%" height="70%">
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <h2>{{movie.title}}</h2>
      </div>
      <div>
        <h3>{{movie.release_date}}</h3>
      </div>

      <div>
        <i class="genres" *ngFor="let genres of movie?.genres; last as isLast"> {{genres.name}}<span
            *ngIf="!isLast">,</span></i>
      </div>

      <div class="fieldsContainer">
        <div class="director">
          <b class="fieldName">Diretto da: </b>
          <span *ngFor="let director of directors; last as isLast"> {{ director.name}}<span
              *ngIf="!isLast">,</span></span>
        </div>
        <div class="screenwriter">
          <b class="fieldName">Scritto da: </b>
          <span *ngFor="let writer of writers; last as isLast"> {{ writer.name}}<span *ngIf="!isLast">,</span></span>
        </div>
        <div class="dop">
          <b class="fieldName">Direzione della fotografia: </b>
          <span *ngFor="let dop of dops; last as isLast"> {{ dop.name}}<span *ngIf="!isLast">,</span></span>
        </div>
        <div class="production">
          <b class="fieldName">Prodotto da: </b>
          <span *ngFor="let producer of producers; last as isLast"> {{producer.name}}<span *ngIf="!isLast">,</span>
          </span>
        </div>

      </div>

      <hr>

      <div *ngIf="isVisible">
        <p> {{movie.overview}}</p>
      </div>


      <div>
        <button (click)="isVisible = !isVisible" *ngIf="isVisible" type="button" class="btn btn-primary">Aggiungi ai
          preferiti </button>
      </div>

      
      <div class="formContainer" *ngIf="!isVisible">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vota!
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" >1</a>
            <a class="dropdown-item" >2</a>
            <a class="dropdown-item" >3</a>
            <a class="dropdown-item" >4</a>
            <a class="dropdown-item" >5</a>
          </div>
        </div><br>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Commenta!</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div><br>
        
        <button type="button" class="btn btn-primary">Invia</button>

      </div>



    </div>

  </div>
</div>


