.row {
    color: #fff;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

.fieldsContainer {
    margin-top: 2%;
    margin-bottom: 2%;
}

.fieldName {
    font-size: 16px;
}

.genres {
    color: rgb(180, 180, 180);
}

.rate-popover {
    color: #ad4c4c;
}

.live {
    color: rgb(255, 255, 255);
}

#primary-button,
#secondary-button {
    font-size: 16px;
    margin-right: 20px;
}

